node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
* "dependencies": {
*    "axios": "^1.2.1",
*    "cors": "^2.8.5",
    "cross-fetch": "^3.1.5",
    "dotenv": "^16.0.3",
    "express": "^4.18.2",
    "firebase": "^8.2.3"
# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
